<!-- NAV SECTION (desktop/tablet)-->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="item" href="/" style="font-size:20px; margin-right:40px;"> <i class="fa fa-stethoscope"></i>  Doc Findr</a>
        <a class="active item">Home</a>
        <a class="item" href="">Settings</a>
        <div class="right item">
          <img class="ui avatar image" src="/images/usericon.png">
          <p ui-sref="Home">{{vm.user[0].username}}</p>
           <a class="item" ng-click="vm.logout()" style="margin-right:10px;">Log Out</a>
        </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
      <!-- <i class="fa fa-stethoscope"></i> Doc Findr</p> -->
      <p class="text-center subTitle-home">
        We Help Find The Right Healthcare For You.
      </p>
    </div></div>
<!-- search-->
<br>
<div class="text-center">
  <div class="ui massive icon input">
    <input type="text" placeholder="Search by Speciality" style="margin-right:20px" class=""
    ng-model="vm.speciality">
    <input type="text" placeholder="Enter State" class=""
    ng-model="vm.location">
  <button type="button" name="button" style="margin-left:20px" class="search ui black button" ng-click="vm.search()">
  <i class="search icon"></i>
</button>
</div>
</div>
</div>

<!-- doctor results-->
<div class="row results">
  <span ng-show="vm.doctorData">
    <h1 class="text-center header">Results</h1>
    <p class="text-center header2"> Showing results for {{vm.speciality}} in "{{vm.location}}"</p>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-11 col-sm-11 col-md-11">
      <div class="ui divided items">
        <div class="item">
          <div class="image">
            <img ng-src={{vm.doctorData.data[0].profile.image_url}}>
          </div>
          <div class="content">
            <a class="header">{{vm.doctorData.data[0].practices[0].name}}</a>
            <p>
              <strong>
              {{vm.doctorData.data[0].specialties[0].actor}}
            </strong>
          </p>
            <div class="meta">
              <span class="image">
                <p>
                    <a ng-click=vm.goToReviews(vm.doctorData.data[0].ratings[0].provider_uid)>
                  <img ng-src={{vm.doctorData.data[0].ratings[1].image_url_small}}>
                </a>
              </span>
            </div>
            <div class="description">
              <p>{{vm.doctorData.data[0].specialties[0].description}}</p>
                 <p>{{vm.doctorData.data[0].profile.bio}}</p>
              </div>
            </div>
            <div class="extra">
              <div class="ui label">
                <p>
                  {{vm.doctorData.data[0].practices[0].visit_address.street}},
                  {{vm.doctorData.data[0].practices[0].visit_address.street2}}
                  {{vm.doctorData.data[0].practices[0].visit_address.city}},
                  {{vm.doctorData.data[0].practices[0].visit_address.state}}
                  {{vm.doctorData.data[0].practices[0].visit_address.zip}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-xs-1 col-sm-1 col-md-1"></div>
        <div class="col-xs-11 col-sm-11 col-md-11">
          <div class="ui divided items">
            <div class="item">
              <div class="image">
                <img ng-src={{vm.doctorData.data[1].profile.image_url}}>
              </div>
              <div class="content">
                <a class="header">{{vm.doctorData.data[1].practices[1].name}}</a>
                <p>
                  <strong>
                  {{vm.doctorData.data[1].specialties[0].actor}}
                </strong>
              </p>
                <div class="meta">
                  <span class="image">
                    <p>
                        <a ng-click=vm.goToReviews(vm.doctorData.data[1].ratings[0].provider_uid)>
                      <img ng-src={{vm.doctorData.data[1].ratings.image_url_small}}>
                    </a>
                    </p>
                  </span>
                </div>
                <div class="description">
                  <p>{{vm.doctorData.data[1].specialties[0].description}}</p>
                     <p>{{vm.doctorData.data[1].profile.bio}}</p>
                  </div>
                </div>
                <div class="extra">
                  <div class="ui label">
                    <p>
                      {{vm.doctorData.data[1].practices[1].visit_address.street}},
                      {{vm.doctorData.data[1].practices[1].visit_address.street2}}
                      {{vm.doctorData.data[1].practices[1].visit_address.city}},
                      {{vm.doctorData.data[1].practices[1].visit_address.state}}
                      {{vm.doctorData.data[1].practices[1].visit_address.zip}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-1 col-sm-1 col-md-1"></div>
          <div class="col-xs-11 col-sm-11 col-md-11">
            <div class="ui divided items">
              <div class="item">
                <div class="image">
                  <img ng-src={{vm.doctorData.data[2].profile.image_url}} >
                </div>
                <div class="content">
                  <a class="header">{{vm.doctorData.data[2].practices[0].name}}</a>
                  <p>
                    <strong>
                    {{vm.doctorData.data[2].specialties[0].actor}}
                  </strong>
                </p>
                  <div class="meta">
                    <span class="image">
                      <p>
                          <a ng-click=vm.goToReviews(vm.doctorData.data[2].ratings[0].provider_uid)>
                        <img ng-src={{vm.doctorData.data[2].ratings[1].image_url_small}}>
                      </a>
                      </p>
                    </span>
                  </div>
                  <div class="description">
                    <p> {{vm.doctorData.data[2].specialties[0].description}}</p>
                       <p>{{vm.doctorData.data[2].profile.bio}}</p>
                    </div>
                  </div>
                  <div class="extra">
                    <div class="ui label">
                      <p>
                        {{vm.doctorData.data[2].practices[0].visit_address.street}},
                        {{vm.doctorData.data[2].practices[0].visit_address.street2}}
                        {{vm.doctorData.data[2].practices[0].visit_address.city}},
                        {{vm.doctorData.data[2].practices[0].visit_address.state}}
                        {{vm.doctorData.data[2].practices[0].visit_address.zip}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>



<!-- add google maps -->

<!-- create a drop list with speciality-->
