<!-- NAV SECTION (desktop/tablet)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="#"><i class="fa fa-stethoscope"></i> Doc Findr</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li> -->
      <li><a ui-sref="Login">Login</a></li>
      <li><a ui-sref="Register">Signup</a></li>
    </ul>
  </div>
</nav>

<!-- search-->
<p class="text-center">
  <input
  type="text"
  placeholder="Search by Speciality"
  ng-model="vm.speciality">
  <p class="text-center">
    <input
    type="text"
    placeholder="Enter location"
    ng-model="vm.location">
  <button
  type="button"
  name="button"
  class="btn btn-sm"
  style="background-color:pink; color:white;"
  ng-click="vm.search()">Find Doctor
</button></p


<!-- add login/sign-in -->
<!-- add google maps -->

<!-- create a drop list with speciality-->
