<!-- NAV SECTION (desktop/tablet)-->
 <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="#"><i class="fa fa-stethoscope"></i> Doc Findr</a>
    </div>
    <ul class="nav navbar-nav navbar-right ui basic huge buttons" style="margin:5px 25px; 0px 0px">
       <!-- <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li> -->
       <li><a class="ui button" ui-sref="Login">Login</a></li>
        <div class="or"></div>
      <li><a class="ui button" ui-sref="Register">Signup</a></li>
    </ul>
    </ul>
  </div>
</nav>

<!-- title(desktop)-->
<div class="row background">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <p class="text-center title">
      <!-- <i class="fa fa-stethoscope"></i> Doc Findr</p> -->
      <p class="text-center subTitle">
        find nearby doctors in your network
      </p>
    </div>



<!-- search-->
<div class="text-center">
   <div class="ui massive icon input">
  <input type="text" placeholder="Search by Speciality" class="speciality"
  ng-model="vm.speciality">
  <input type="text" placeholder="Enter Location" class="location"
  ng-model="vm.location">
  <button type="button" name="button" class="search ui pink button">
  <i class="search icon" ng-click="vm.search()"></i>find a doctor
</button>
</div>
</div>
    <!-- <input
    type="text"
    placeholder="Enter location"
    ng-model="vm.location"
    class="location">
    <button
    type="button"
    name="button"
    class="ui primary button"
    ng-click="vm.search()">
    <i class="fa fa-search" aria-hidden="true">Search</i>
    </button>
  </p> -->

<!-- add login/sign-in -->
<!-- add google maps -->

<!-- create a drop list with speciality-->
