<!-- NAV SECTION (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="Home"><i class="fa fa-stethoscope"></i> Doc Findr </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="ui pink basic button" ui-sref="Register" style="margin:5px 25px; 0px 0px">Signup</a></li>
    </ul>
  </div>
</nav>

<!-- nav(mobile)-->
<!-- <nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div class="container" style="padding-left: 0px; color:#4d4d4d;">
    <span onclick="togglevisibility('foo')">
      <div class="dropdown">
        <h1 style="padding-left:5px;"> <i class="fa fa-bars" aria-hidden="true"></i></h1>
        <div id="foo" style="display:none;" class="dropdown-content">
          <p ui-sref="LandingPage">Home</p>
          <p ui-sref="Register">Signup</p>
        </div>
      </span>
    </div>
  </div>
</nav> -->

<!-- LOG IN FORM -->
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-3"></div>
  <form class="col-xs-10 col-sm-10 col-md-6 userPage">
    <h3 class="page-header text-center">Login to your account</h3>
    <div class="form-group">
      <label>Username</label>
        <i class="user icon"></i>
      <input
      type="text"
      class="form-control"
      placeholder="Username"
      ng-model="vm.user.username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <i class="lock icon"></i>
    <input
      type="text"
      class="form-control"
      placeholder="Password"
      ng-model="vm.user.password">
  </div>
  <div class="form-group">
  <input
    type="submit"
    class="ui fluid large pink submit button"
    value="Login"
    ng-click="vm.login()">
  <div class="ui message"> Dont have an account?
    <a ui-sref="Register" style="float:;">Signup!</a>
  </div>
  </div>
  </form>
  <div class="col-xs-1 col-sm-1 col-md-3"></div>
</div>
