/*body{
  font-family:kievit-slab-book,Georgia,serif;
}*/

.navbar {
  background-color: transparent;
  opacity: 0.9;

}

.navbar-default .navbar-brand {
  font-size: 30px;
  color:black;
  font-family:star avenue;

}
.navbar-default {
     background-color: transparent;
     border-color: transparent;
}

.speciality {
  zoom:150%;
  border-spacing: inherit;
}
.location{
  zoom:150%;
  border-spacing: inherit;

}
.userPage{
  padding: 100px 0px 0px 0px;
  zoom:150%;
}

.background {
  background-image: url('/images/www_huffingtonpost_com.jpg');
  width:102%;
  height:1000px;
  opacity: 0.9;
  background-position: top;
  background-repeat: no-repeat, repeat;
  color:#000000;
  zoom:70%
}

.background-home {
  background-image: url('/images/couplesick.jpg');
  width:102%;
  height:1000px;
  opacity: 0.9;
  background-position: top;
  background-repeat: no-repeat, repeat;
  color:#000000;
  zoom:70%
}

}
.title {
  font-size:150px;
  font-family:slant;
  padding:80px 0px 0px 0px;
  color:black;
  zoom:100%;
}
.subTitle {
  font-size:45px;
  color:black;
  padding:250px 0px 50px 0px;
  zoom:150%;
  font-family:star avenue;

}
.subTitle-home {
  font-size:25px;
  color:black;
  padding:125px 0px 50px 0px;
  zoom:130%;
  font-family:star avenue;

}

.search {
   zoom:100%;

}

a {
  cursor: pointer;
  cursor: hand;
}

.header {
  font-size: 50px;
  font-family:mayeka;
}

.header2 {
  font-size: 20px;
  font-family:mayeka;
  padding-bottom: 30px;
}
.results {
  padding: 10px 0px 50px 10px;
}

.footer {
  width:102.5%;
  height:100px;
  font-size:18px;
  padding-top:40px;
  color:white;
  background-color:#1b1c1d;
  opacity: 0.8;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}
