/*body{
  font-family:kievit-slab-book,Georgia,serif;
}*/

.navbar {
  background-color: transparent;
  opacity: 0.9;

}

.navbar-default .navbar-brand {
  font-size: 30px;
  color:black;
  font-family:star avenue;

}
.navbar-default {
     background-color: transparent;
     border-color: transparent;
}

.speciality {
  zoom:150%;
  border-spacing: inherit;
}
.location{
  zoom:150%;
  border-spacing: inherit;

}
.userPage{
  padding: 100px 0px 0px 0px;
  zoom:150%;
}

.background {
  background-image: url('/images/www_huffingtonpost_com.jpg');
  width:102%;
  height:1000px;
  opacity: 0.9;
  background-position: top;
  background-repeat: no-repeat, repeat;
  color:#000000;
  zoom:70%
}

.background-home {
  background-image: url('/images/couplesick.jpg');
  width:102%;
  height:1000px;
  opacity: 0.9;
  background-position: top;
  background-repeat: no-repeat, repeat;
  color:#000000;
  zoom:70%
}

}
.title {
  font-size:150px;
  font-family:slant;
  padding:80px 0px 0px 0px;
  color:black;
  zoom:100%;
}
.subTitle {
  font-size:45px;
  color:black;
  padding:270px 0px 50px 0px;
  zoom:150%;
  font-family:star avenue;

}
.subTitle-home {
  font-size:25px;
  color:black;
  padding:55px 0px 50px 0px;
  zoom:130%;
  font-family:Poetsen One;

}
.titlesub{
  padding:100px 0px 50px 0px;

}
.search {
   zoom:100%;

}

a {
  cursor: pointer;
  cursor: hand;
}

.header {
  font-size: 50px;
  font-family:mayeka;
}

.header2 {
  font-size: 20px;
  font-family:mayeka;
  padding-bottom: 30px;
}
.results {
  padding: 10px 0px 50px 10px;
}

.footer {
  width:102.5%;
  height:100px;
  font-size:18px;
  padding-top:40px;
  color:white;
  background-color:#1b1c1d;
  opacity: 0.8;
}


@media only screen and (max-width: 768px) {
body {
  font-family: arial;
}

.subTitle {
  font-size: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.mobile {
  margin: 20px 0px 20px 0px;
  font-size: 12px;
}
.footer{
  font-size: 16px;
  width:105%;
}
}
